

* {
  box-sizing: border-box;
}

body{
  background-color: #0c1c31;
  color: #ddd;

}

main {
  max-width: 32vh;
  margin: 2vh auto;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 2.5rem;
}

h1 span{
  font-size: 1rem;
  vertical-align: top;
  display: inline-block;
  margin-top: 10px;
}

#instruction-label {
  font-size: 1.2vh;
}

#instructions {
  margin-bottom: 1vh;
  text-align: center;
}

form {
  margin-top: 1.5vh;
}

form input {
  background-color: transparent;
  color: #ddd;
  border: 2px solid #98989f;
  padding: 2px 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

form input[type='datetime-local']{
  color: #777;
}



form div.basicInfo {
  display: flex;
  gap: 5px;

}

form button {
  width: 100%;
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: #ddd;
  margin-bottom: 10px;
}

.transactionHolder {
  margin-top: 20px;
}

div.transactions {
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
  border-top: 1px solid #30313d;

}


.username-password {
  display: flex;
  justify-content: space-between;
}

form button:active {
    animation: click-animation 0.2s forwards;
}

@keyframes click-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.info-label {
  padding-bottom: 5px;
  font-size: 1.4vh;
}

#password-label {
  margin-left: 33%;
}

#title-label {
  margin-left: 42%;
}

.username-password input {
  width: 48%;
}

#price-and-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
}

#price-and-title input {
  width: 48%;
}

#date, #description {
  width: 100%;
}

div.transactions:first-child{
  border-top: 0;
}

div.transaction:first-child{
  border-top: 0;
}

div.transactions div.name {
  font-size: 1rem;
}

#name-left {
  color: white;
  font-size: 1rem;
}

#price- {}

div.transactions {
  font-size: 0.7rem;
  color: #aaa;
}

div.right {
  text-align: right;
}

.price-green {
  color: #1c1;
  font-size: 1rem;
}

.price-red {
  color: #c11;
  font-size: 1rem;
}

div.transactions div.datetime {
  font-size: 0.7rem;
  color: #e1e1e1;
}

#date-input {
  margin-bottom: 1vh;
}